.chat {
    display: none;
    transition: 1s;
    padding: 0 10px 0 10px;

}

.chat_header {
    height: fit-content;
    padding: 10px 0 10px 0;
    margin-top: 90px;
    text-align: center;
    font-size: 20px;
    border: 2px;
    border-color: rgb(68, 67, 67);
    border-style: solid;
    border-radius: 10px;
    position: relative;
}

.exit_icon {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 40px;
    width: 40px;
}

.exit_icon:hover {
    cursor: pointer;
}

.exit_icon img {
    height: 100%;
    width: 100%;
}

.user_message {
    border: none;
    min-height: 55px;
    border-radius: 30px;
    background: rgb(195, 195, 195);
    outline: none;
    text-indent: 20px;
    font-size: 20px;
    color: rgb(66, 66, 66);
    margin-bottom: 10px;
}

.messages_container {
    overflow-y: scroll;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.messages_container::-webkit-scrollbar {
    width: 0;
  }

.send_button {
    display: none;   
}

.send_button:hover {
    cursor: pointer; 
}

.send_button img{

   width: 80%;
   height: 80%;
   filter: invert(100%);
}

.user_message:focus ~.send_button,
.user_message:not(:placeholder-shown) ~.send_button{
    display: block;
    position: absolute;
    bottom: 13px;
    right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: rgb(232, 49, 8);
    display: flex;
    align-items: center;
    justify-content: end;
}


.chat.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    right: 0;
    width: 40%;
    height: 100vh;
    background: white;
    z-index: 1000;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.message {
    width: 60%;
    margin-bottom: 15px;
    border-radius: 10px;
    background: rgb(190, 190, 193);
    padding: 10px;
    color: rgb(37, 37, 37);
    font-size: 20px;
}

@media (max-width: 992px) {
    .chat.active {
        width: 100%;
    }
}

